<div class=" bg-bgGray w-full p-10">
    <div class="mb-8 flex justify-between items-center">
        <h3 class="uppercase text-primary text-[18px] font-medium">QUẢN LÝ CUỘC BẦU CỬ</h3>
    </div>
    <div class="bg-white pt-7 pb-3 px-5 mb-10 rounded-lg shadow-shadow-timeword">
        <ng-container >
          <form [formGroup]="form" class="grid grid-cols-3 items-center gap-x-4">
            <mat-form-field class="custom-input" appearance="outline">
              <mat-label>Tên cuộc bầu cử</mat-label>
              <input formControlName="name" matInput />
            </mat-form-field>
            <mat-form-field class="custom-input" appearance="outline">
                <mat-label>Trạng thái</mat-label>
                <mat-select formControlName="status">
                  <mat-option *ngFor="let status of listStatus" [value]="status.value">
                    {{ status.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <div class="custom-input flex w-full gap-3 items-start">
                <button (click)="handleSearch()"
                class="bg-primary w-full h-10 px-4 hover:bg-[#10c39f] rounded text-white"
                  >Tìm kiếm
                </button>
                <button (click)="handleCancel()"
                  class="bg-[#EDEDED] w-full h-10 px-4 rounded text-[#000]"
                  >Huỷ bỏ
                </button>
            </div>
          </form>
        </ng-container>
      </div>
    <div class="mb-8 flex justify-between items-center">
        <h3 class="text-primary text-[18px] font-medium">Danh sách cuộc bầu cử</h3>
        <div (click)="handelOpenPopUpAddSlectionManagement()" class="px-[12px] py-[8px] rounded-[6px] cursor-pointer bg-primary text-[#fff]" >Thêm cuộc bầu cử mới</div>
    </div>
    <ng-container *ngFor="let slection of listSlection, let i = index">
        <div class="flex flex-col w-full mb-10 bg-white shadow-shadow-timeword">
            <div class="w-full flex gap-2 justify-between">
              <div class="text-center flex-1 py-2 bg-primary text-white font-medium">{{slection.fullName}}</div>
              <div (click)="handelOpenPopUpSlectionManagement(slection?.id)" class="text-center py-2 px-2 rounded-lg bg-[#666] text-white font-medium cursor-pointer hover:scale-110">
                <span nz-icon nzType="edit:antd" class="icon text-[20px]" nzTheme="outline"></span>
              </div>
              <div (click)="openDeletePopup(slection?.id, slection?.fullName)" class="text-center py-2 px-3 rounded-lg bg-myRed text-white font-medium cursor-pointer hover:scale-110">
                <i class="fa-regular fa-trash-can"></i>
              </div>
            </div>
            <div class="flex bg-[#e9ecef] gap-3">
                <div class="w-[40%] flex flex-col justify-center pb-3 px-2 bg-white">
                    <div class="w-full text-center py-2 border-b font-medium border-[#ccc]">Thông tin chung</div>
                    <ul class="w-full *:text-[14px] py-1">
                        <li class="mb-1">Thời gian bắt đầu bầu cử: </li>
                        <li class="mb-1">Thời gian kết thúc bầu cử: </li>
                        <li class="mb-1">Số ứng viên tối đa cử tri được bầu: </li>
                        <li class="mb-1">Trạng thái</li>
                    </ul>
                    <div class="w-full text-center py-2 border-t font-medium border-b border-[#ccc]">Thông tin nhiệm kỳ</div>
                    <ul class="w-full *:text-[14px] py-1">
                        <li class="mb-1">Tên nhiệm kỳ: </li>
                        <li class="mb-1">Thời gian bắt đầu nhiệm kỳ: </li>
                        <li class="mb-1">Thời gian kết thúc nhiệm kỳ: </li>
                    </ul>
                </div>

                <div class="w-[60%] h-auto bg-white px-2 pb-3">
                    <div class="flex items-center w-full border-b py-2 border-[#ccc]">
                        <div (click)="selectView('candidate')" 
                            [ngClass]="{'text-red-500': selectedView === 'candidate'}"
                            class="flex-1 text-center font-medium cursor-pointer">Danh sách ứng viên</div>
                        <div (click)="selectView('voters')" 
                            [ngClass]="{'text-red-500': selectedView === 'voters'}"
                            class="flex-1 text-center font-medium cursor-pointer">Danh sách cử tri</div>
                    </div>
                    <div *ngIf="selectedView === 'candidate'" class="media-scroller snaps-inline">
                        <div *ngFor="let array of slection.array, let i2 = index" class="media-element mt-2">
                          <img src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
                          <p class="title">{{array.fullName}}</p>
                        </div>
                    </div>
                    <div *ngIf="selectedView === 'voters'" class="media-scroller snaps-inline">
                        <div *ngFor="let array of slection.array, let i2 = index" class="media-element mt-2">
                          <img src="../../../../assets/img/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="">
                          <p class="title">{{array.fullName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<app-slection-management-add
*ngIf="isVisiblePopUpAddSlectionManagement" [mode]="mode"
[idSlectionManagement] = "idSlectionManagement"
[isVisiblePopUpAddSlectionManagement]="isVisiblePopUpAddSlectionManagement"
(visiblePopUpAddSlectionManagement)="handelVisiblePopUpAddSlectionManagement($event)"
></app-slection-management-add>

<app-popup-delete [isVisible]="isVisible" [nameSlection]="nameSlection" [idSlectionManagement]="idSlectionManagement" (changeVisibleDelete)="handleChangeVisible($event)"></app-popup-delete>